Model.zip
vol2.zip

Model/.venv/
Model/Videos/British_Accent.mp4
Model/Videos/group_video.mp4
Model/Videos/Hindi.mp4
Model/Videos/intro_by.mp4
Model/Videos/intro_Video.mp4
Model/Videos/Mama.mp4
Model/Videos/Reggie.mp4
Model/Videos/Song_with_Music.mp4
Model/Videos/BeatleJuice.mp4
Model/Videos/Fungus.mp4
Model/Videos/Interstellar.mp4
Model/Videos/Jimmy.mp4
Model/Videos/Kratos.mp4
Model/Videos/Ted_Lasso.mp4
Model/Videos/Varys.mp4
Model/temp_audio.wav
Model/temp_chunk.wav
Model/Assets/

vol2/node_modules/
vol2/.pnp
vol2/.pnp.js
vol2/coverage/
vol2/build/
vol2/.DS_Store
vol2/.env.local
vol2/.env.development.local
vol2/.env.test.local
vol2/.env.production.local
vol2/npm-debug.log*
vol2/yarn-debug.log*
vol2/yarn-error.log*
