body.dark .about-para {
  color: rgb(67, 67, 67);
  background-color: rgba(214, 214, 214, 0.368);
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
  margin-left: 250px;
  margin-right: -250px;
  font-size: 20px;
}

body.dark .about-title {
  margin-top: 35px;
  text-align: end;
  margin-right: -20px;
  color: rgb(164, 164, 164);
}
