body.dark .container {
  display: flex;
  flex-direction: column;
}

body.light .container {
  display: flex;
  flex-direction: column;
}

body.dark .nav-container {
  background-color: #1e2524;
  margin-bottom: -37px;
}

body.light .nav-container {
  background: linear-gradient(90deg, #d9e5ff, #b1c2f4, #d3a8f8);
}
body.dark .logo-main {
  width: 25%;
}

body.light .logo-main {
  background: linear-gradient(90deg, #d9e5ff);
  width: 25%;
}

body.dark .items {
  margin-top: 50px;
  color: gray;
  display: flex;
  flex-direction: column;
}

body.light .items {
  margin-top: 50px;
  color: gray;
  display: flex;
  flex-direction: column;
}

body.dark .action-button {
  margin-top: 42px;
  margin-left: 35px;
  margin-right: 30px;
  padding-left: 15px;

  height: 70px;

  text-align: start;
  border: none;
  background-color: #394543;
  color: #afb4b3;

  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: 0.3s background-color;
}

body.light .action-button {
  margin-top: 42px;
  margin-left: 35px;
  margin-right: 30px;
  padding-left: 15px;

  height: 70px;

  text-align: start;
  border: none;
  background-color: #e1d9ff;
  color: #000000;

  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: 0.3s background-color;
}

body.dark .action-button:hover {
  background-color: #41504d;
}

body.light .action-button:hover {
  background-color: #d3c8ff;
}

body.dark div.active {
  color: white;
}

.img {
  width: 15%;
}

body.dark .text {
  width: 30%;
  font-weight: 700;
  font-size: 30px;
}

body.light .text {
  width: 30%;
  font-weight: 700;
  font-size: 30px;
}

.image-container {
  width: 70%;
  display: flex;
  justify-content: end;
}

.footer-embos {
  display: flex;
  justify-content: center;
}

.emboss-img {
  width: 35%;
}

body.dark .video-button {
  background-color: #b0cdcb;
  border-radius: 35px;
  margin-top: 143px;
}

body.dark .video-button:hover {
  background-color: #9ecdc8;
}

body.dark .video-active-text {
  width: 30%;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}

body.dark .video-text {
  width: 30%;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}
