body.dark .container-full {
  background-color: #4e5e5b;
  margin-left: 100px;
  width: 150%;
}

body.light .container-full {
  background-color: #ffffff;
  margin-left: 100px;
  width: 150%;
}

body.dark .size-page-title {
  color: white;
  margin-left: 35px;
  margin-top: 280px;
}

body.dark .opacity-page-title {
  color: white;
  margin-left: 35px;
  margin-top: 390px;
}

body.dark .about-page-title {
  color: white;
  margin-left: 35px;
  margin-top: 500px;
}

body.light .page-title {
  color: black;
  margin-left: 35px;
  margin-top: 25px;
}

body.dark .theme-items {
  color: gray;
  display: flex;
  flex-direction: column;
  margin-top: 151px;
}

body.light .theme-items {
  color: gray;
  display: flex;
  flex-direction: column;
  margin-top: 151px;
}

.back-container {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.backarrow-img {
  width: 2%;
  margin-left: 35px;
}

.footer-embos-page {
  align-content: end;
  display: flex;
  justify-content: center;
  margin-top: 290px;
}
