body.dark .font-size-options {
  margin-left: 200px;
  margin-top: 20px;
}

body.dark .page-title {
  color: white;
  margin-left: 330px;
  margin-top: 200px;
}

body.dark .sample {
  margin-top: 20px;
  align-self: center;
  margin-left: 20px;
}
