body.dark .font-style-selector {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 20px;
  background-color: #ddd;
  text-align: center;
}

body.dark .font-style-page-title {
  align-self: center;
  color: white;
  margin-top: 200px;
}

body.dark .style-sample {
  font-size: 24px;
  align-self: center;
  margin-top: 20px;
}
